<h1>Display your Pirate here</h1>

  <p>Pirate Name: <%= @pirate.name %></p>
  <p>Pirate Breed: <%= @pirate.weight %></p>
  <p>Pirate Age: <%= @pirate.height %></p>



<h2>Display your first ship here</h2>

<p>Ship 1 Name: <%= @shipone.name %></p>
<p>Ship 1 type: <%= @shipone.type %></p>
<p>Ship 1 booty: <%= @shipone.booty %></p>


<h3>Display your second ship here</h2>

<p>Ship 2 Name: <%= @shiptwo.name %></p>
<p>Ship 2 type: <%= @shiptwo.type %></p>
<p>Ship 2 booty: <%= @shiptwo.booty %></p>